.section-title {
  max-width: 850px;
}

.img-fluid {
  object-fit: cover;
}

.imgCon {
  min-height: 350px;
  padding-bottom: 10px;
}

.fa-heartbeat-container {
  width: 110px;
  height: 90px;
  display: flex;
  text-align: center;
}

.argo-ab {
  width: 80px !important;
  height: 90px !important;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 10px;
  left: 50%;
  bottom: 0;
  margin-left: -30px;
  background: var(--primary);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 280px;
  height: 2px;
  left: 50%;
  bottom: 4px;
  margin-left: -90px;
  background: var(--primary);
}

.bg-img {
  background: url('../Image/bg.jpg');
  background-size: cover;
}
