.bg-secondary {
  background-image: url('../Image/navBar-cake.png') !important;
  background-position: center;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.border-inner {
  position: relative;
}

.border-inner * {
  position: relative;
  z-index: 1;
}

.border-inner::before {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background: none;
  border: 1px solid var(--light);
  z-index: 0;
}

.text-start {
  color: whitesmoke;
  font-size: 20px;
}

.pane {
  text-align: center;
}

.header-hero {
  background-image: url('../Image/bg.jpg') !important;
  background-position: center;
}
