.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.border-inner {
  position: relative;
}

.border-inner * {
  position: relative;
  z-index: 1;
}

.border-inner::before {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background: none;
  border: 1px solid var(--light);
  z-index: 0;
}
