a {
  font-family: 'Oswald', sans-serif;
  padding: 30px 15px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--light);
  outline: none;
  transition: 0.5s;
  text-decoration: none;
}

.navbar-brand {
  display: flex;
  justify-items: center;
  width: 20% !important;
}
.navbar-nav{
  margin: auto;
  text-align: center;
  display: flex;
  width: 60%;
}

a:hover {
  color: var(--primary);
}

.active {
  color: var(--primary);
}

.sticky {
  position: sticky;
  top: 0;
}

.navbarAr {
  z-index: 1;
}

.navbar-toggler {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  background-color: transparent !important;
  border: none;
}

.navbar-toggler-icon {
  font-size: 25px !important;
}
@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
  }
}
