a {
  font-family: 'Oswald', sans-serif;
  padding: 30px 15px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--light);
  outline: none;
  transition: 0.5s;
  text-decoration: none;
  width: 20%;
}

.navbar-nav{
  margin: auto;
  border: 2px solid green;
}

a:hover {
  color: var(--primary);
}

.active {
  color: var(--primary);
}

.sticky {
  position: sticky;
  top: 0;
}

.navbarAr {
  z-index: 1;
}

@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
  }
}
