@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --primary: #e88f2a;
  --secondary: #faf3eb;
  --light: #fff;
  --dark: #2b2825;
}

.font-secondary {
  font-family: 'Pacifico', cursive;
}

h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}
